@font-face {
  font-family: "cairo";
  src: url("../../Fonts/static/Cairo-Bold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  text-align: right;
  font-family: "Cairo", sans-serif;
  background: #e9edf3;
  color: black;
}
.img-pics-market img {
  width: 100%;
  height: 100%;
}
.img-pics-market {
  width: 50px;
  height: 50px;
}
.dropdown-toggle::after {
  display: none;
}
.btn-custome {
  border: none;
  outline: none;
  background: none;
}
ul.dropdown-menu.show {
  display: flex !important;
  flex-direction: column !important;
  background-color: white;
  color: black;
  gap: 10px;
}
ul.dropdown-menu.show > li:hover {
  background: #ddd;
}
.dropdown-menu {
  padding: 0px;
  width: 270px;
  border: none;
  left: 0;
  width: 100%;
  top: 1rem !important;
}

.background-blue {
  background-color: #22313f;
}
p {
  padding: 0 !important;
  margin: 0;
}
.arabic {
  gap: 38px;
}
.search {
  background: white;
}
.box-1 span i {
  font-size: 30px;
  color: #1e8bc3;
}
li.text-decoration-none.shopping-cart {
  color: black;
  cursor: pointer;
}
.user-info h5 {
  color: #7c7e7e;
  font-size: 25px;
}
.user-info div span i {
  font-size: 20px;
}
a.text-decoration-none.link.text-black {
  transition: 0.3s linear !important;
}
a.text-decoration-none.link.text-black:hover {
  color: #1e8bc3 !important;
}
.input-search {
  width: 100%;
}
.input-search form input[type="text"] {
  width: 100%;
  background: #ddd;
  color: black;
  border: none;
  padding: 4px;
  outline: none;
  font-weight: 500;
  text-align: right;
  padding: 0 15px;
}
.input-search form input[type="submit"] {
  background: #1e8bc3;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
}
.user-access,
.shopping-cart-link,
.help {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.shopping-cart-link:hover,
.help:hover {
  color: #1e8bc3;
}
.user-access:hover {
  color: #1e8bc3;
}
i.fa-solid.fa-basket-shopping.text-center {
  color: #1e8bc3;
  font-size: 25px;
}
i.fa-solid.fa-arrow-right-to-bracket {
  font-size: 25px;
}
.help {
  margin-top: 24px;
}
.logo {
  margin-top: -34px;
  min-width: 148px !important;
  cursor: pointer;
}
.logo h5 {
  font-size: 29px;
  color: #1e8bc3;
}
.logo span {
  position: absolute;
  right: 25%;
}
.route-links {
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  color: #7c7e7e;
}
.route-links:hover {
  color: #1e8bc3;
}
div.border-bottom {
  width: 100% !important;
  background-color: #ddd;
  height: 1px;
}
.menu-icon i {
  font-size: 25px;
}
.body p {
  text-align: right;
  line-height: 2;
}
.search-nav {
  flex-direction: row !important;
}
.stars-rating {
  flex-direction: row !important;
  align-self: flex-end !important;
}
.price {
  align-self: flex-end !important;
  flex-direction: row !important;
  align-items: center;
}
.product-title {
  text-align: right !important;
}
.drop-menu {
  /* display: none; */
  position: absolute;
  z-index: 9999999999;
  right: -235%;
  background-color: white;
  top: 0;
  height: 100vh;
  padding: 15px;
  transition: 0.3s;
  width: 300px;
}
.drop-menu.show {
  right: 0;
  display: block;
}
.drop-trigger {
  text-align: right;
  font-size: 28px;
}

.mobile-form input[type="submit"] {
  background: #1e8bc3;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 6px 0px;
  width: 64px !important;
  margin: auto !important;
  position: absolute;
}
.mobile-form input[type="text"] {
  width: 100%;
  background: #ddd;
  color: black;
  border: none;
  outline: none;
  font-weight: 500;
  padding: 7px 15px !important;
  text-align: right;
}
.logo-mobile h5 {
  color: #1e8bc3;
  font-size: 33px;
}
.logo-mobile {
  margin-top: 2rem;
}
.logo-mobile span {
  font-size: 19px;
}
.img-banner-market {
  max-width: 100%;
}
.img-banner-market img {
  max-width: 100%;
}
.incr,
.decr {
  background: #0d6efd;
  width: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* .overlay {
  background: #7c7e7e9e;
  width: 100%;
  position: relative;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 33;
  display: none;
} */

/* super-market */
button.btn.btn-primary {
  transition: 0.3s ease-in;
  background: #1e8bc3;
  border-radius: 1px !important;
}
.nav-bar-routers {
  background: white;
  height: auto;
}
.nav-bar-routers ul {
  max-width: 100%;
  padding: 6px 0;
}
ul.flex-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
li img {
  display: initial;
  height: 100px;
}
.flex-item {
  background: tomato;
  width: calc(100% / 3.5);
  padding: 5px;
  height: auto;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.downloads {
  margin-top: 10px;
}
ul.paginate-links.items li {
  display: inline-block;
  margin: 5px;
}
ul.paginate-links.items a {
  cursor: pointer;
}
ul.paginate-links.items li.active a {
  font-weight: bold;
}
ul.paginate-links.items li.next:before {
  content: " | ";
  margin-right: 13px;
  color: #ddd;
}
ul.paginate-links.items li.disabled a {
  color: #ccc;
  cursor: not-allowed;
}
li.right-arrow a,
li.left-arrow a {
  font-size: 0;
}
li.right-arrow,
li.left-arrow {
  position: relative;
}
li.right-arrow a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054" !important;
  vertical-align: middle;
  font-weight: 900;
  position: absolute !important;
  /* padding: 6px 10px; */
  background: #1e8bc3;
  font-weight: bold;
  font-size: 18px;
  top: 0% !important;
  right: 0;
  color: white;
  /* font-weight: bold; */
  width: 30px;
  text-align: center;
  height: 22px;
  line-height: 24px;
  right: -2rem;
}
li.left-arrow.disabled,
li.right-arrow.disabled {
  opacity: 0.3;
}
li.left-arrow a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053" !important;
  position: absolute !important;
  /* padding: 6px 10px; */
  background: #1e8cc3c5;
  font-weight: bold;
  font-size: 18px;
  top: 0% !important;
  right: 0;
  color: white;
  font-weight: bold;
  width: 30px;
  text-align: center;
  height: 22px;
  line-height: 24px;
  left: -2rem;
  /* padding: 5px; */
}
li.left-arrow a:hover::after {
  background: #5c8aff;
}
li.right-arrow a:hover::after {
  background: #5c8aff;
}
/* card */

.img-veg-card {
  max-width: 213px;
  height: 204px;
}
.img-veg-card img {
  width: 100%;
  height: 100%;
}
button.btn.btn-primary {
  background: #326cff;
}
/* button.btn.btn-primary,
.incr,
.decr {
  padding: 1px 8px !important;
  background: #5c8aff;
  border: none !important;
  transition: 0.3s ease-in !important;
  background: #326cff;
} */
button.btn.btn-primary:hover,
.incr:hover,
.decr:hover {
  background: #5c8aff;
}

.orginal-market-image img {
  height: 366px;
}
.market-body {
  width: 59%;
}
.market-descr {
  margin-top: 2rem;
  padding-top: 15px;
  line-height: 1.8;
}
/* end */

ul.paginate-links.items {
  margin-right: 2rem;
  margin-top: 1rem;
}
.number.active a {
  background: #0d6efd;
  color: white;
  padding: 3px 15px;
}
.number a {
  background: white;
  text-align: center;

  padding: 3px 15px;
}
li.market-links-routes.d-flex.flex-row.align-items-center.gap-2.router-link-exact-active.router-link-active {
  background: black;
  padding: 4px 20px;
  color: white;
  border-radius: 29px 0;
}
img.img-fluid.laptop-image {
  height: 243px !important;
}
.descrption-head-veg {
  line-height: 1.7;
}
/* elctor&tabs-css-style */
.bg-tabs {
  background-color: #c7c7cd;
}
.electro-image {
  width: 200px;
}
.electro-image img {
  width: 100%;
  height: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 25px;
}
.icons-electro {
  overflow: hidden;
  gap: 10px;
}
.icons-electro > div {
  width: calc(100% / 6);
}
.icons-electro > div img {
  width: 100%;
}
/* for-bueaty */

.icons-bueaty > div img {
  width: 100%;
}
/* end-bueaty */
.imag-banner-electro-img {
  background: url("../../../src/assets/Electorincs/سينما\ ف\ بيتك.png") center
    center;
  background-size: cover;
  height: 300px;
}
.imag-banner-bueaty-img {
  background: url("../../../src/assets/Beauty/bueaty-ar.png") center center;
  background-size: cover;
  height: 400px;
}
.bg-tabs-bueaty-1 {
  background-color: #fee2cc;
}
.bg-tabs-bueaty-2 {
  background-color: #e1bee7;
}
/* end-elctro-bueaty */

/* start-kids-view */
.imag-banner-kids-img {
  background: url("../../../src/assets/Kids/kids-ar.png") center center;
  background-size: cover;
  height: 300px;
}
.bg-tabs-kids {
  background-color: #e2f5ff;
}
/* end-kids-view */
/* start-kids-view */
.imag-banner-mobile-img {
  background: url("../../../src/assets/Mobile&Tablet/mobile-ar.jpg") center
    center;
  background-size: cover;
  height: 300px;
}
.bg-tabs-kids {
  background-color: #e2f5ff;
}
.nav-bar-routers ul {
  flex-direction: row-reverse !important;
}
/* end-kids-view */

.skew {
  background: white;
  width: 201px;
  transform: skewX(-23deg);
  height: 53px;
}
.skew h1 {
  line-height: 53px;
  transform: skewX(23deg);
  padding: 0 7px;
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  ul.d-flex.p-0.m-0.flex-row.gap-2 {
    display: none !important;
  }
  .logo {
    margin: auto;
  }
}
li.route-links.router-link-exact-active.router-link-active {
  color: #1e8bc3 !important;
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .input-search {
    display: none !important;
  }
  .logo {
    margin: auto;
  }
  ul.list-unstyled.flex-row-reverse.justify-content-start.d-flex.flex-wrap.flex-row.gap-3 {
    margin-top: 1rem;
    display: none !important;
  }
  .background-blue {
    display: none;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .nav-info.d-flex.gap-1.flex-row.justify-content-center.align-items-center {
    display: none !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
