
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
p {
  line-height: 1.2;
}
.nav-info > div {
  max-height: 100px;
}
ul {
  list-style: none;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: #e9edf3;
}
